# Ignore everything by default
/*
!/

# Sources
!/crates/
!/contrib/
!/examples/


# GitHub Actions
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml

# Configuration files
!/.cade
!/.editorconfig
!/.envrc
!/.gitignore
!/.rustfmt.toml
!/.taplo.toml
!/Cargo.lock
!/Cargo.toml

# Nix
!/flake.lock
!/flake.nix
!/nix/

# Docs
!/CHANGELOG.md
!/README.md
!/LICENSE
!/docs
